body {
  color: rgb(255, 255, 255);
  background-color: black;
  background-image: url('../background.jpg');
  background-position: center;
  background-attachment: fixed;
}

a {
  text-decoration: none;
  width: fit-content;
  color: rgb(255, 255, 255);
}

a:active {
  color: black;
}

a:visited {
  color: rgb(255, 255, 255);
}
