body {
  color: rgb(255, 255, 255);
  background-color: black;
}

a {
  text-decoration: none;
  width: fit-content;
  color: rgb(255, 255, 255);
}

a:active {
  color: black;
}

a:visited {
  color: rgb(255, 255, 255);
}
