.movieListHolder {
  max-width: 1000px;
  margin: auto;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.search-box {
  padding: 10px;
  border: 0;
  border-radius: 10px;
  background-color: rgb(63, 63, 63);
  color: white;
}

.search-box:focus {
  outline: 0;
}

ul {
  margin: 0;
}

li {
  list-style-type: none;
}

.moviesDisplay {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
  gap: 10px;
}

.poster {
  width: 100%;
}

.movie-name {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(255, 185, 79);
}

@media screen and (min-width: 400px) {
  .header {
    flex-direction: row;
  }
}

@media screen and (min-width: 500px) {
  .moviesDisplay {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 900px) {
  .moviesDisplay {
    grid-template-columns: repeat(4, 1fr);
  }
}
